.content
    p
        | Every large design company whether
        br
        | its a
        | multi-national branding
    p.
        Stop a questioning your design decisions
        by taking advantage of predictive design!
    .content-inp
        input(
            type='text',
            placeholder='Enter your work email'
        )
        button Start Now
    p.
        Become part of our ever growing community.
        span.
            Join us on Craftwork.