- var navLinks = [{link:"./img/Logo.svg"},{link: "./img/Icon1.svg"},{link: "./img/Icon2.svg"},{link: "./img/Icon3.svg"},{link: "./img/Icon4.svg"},{link: "./img/Icon5.svg"},{link: "./img/Icon6.svg"},{link: "./img/Icon7.svg"},{link: "./img/Icon8.svg"}]
.nav
  ul
    for i in navLinks
        li
         img(src=i.link)